node_modules
.next
.turbo
coverage
dist
storage
.env
.env.production
.env.staging
*.log
*.tsbuildinfo
.git
.gitignore
docker-compose.yml
dev-server.err.log
dev-server.log
worker.err.log
worker.log
localtunnel.err.log
localtunnel.log
ngrok.err.log
ngrok.log
